/* common css start */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width:1170px;
    margin:auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section_info{
    text-align: center;
    color:#7e8287;

}
.section_info h2{
    color:#02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
.section_info p b{
    font-size: 23px;
}

/* common css ends */

/* Nav part start */
nav .row{
    
    align-items: center;
}
nav .logo{
    width:20%;
}
nav .menu{
    width:80%;
}
nav ul{
    display:flex;
    justify-content: flex-end;
}
nav{
    background-color: #02918b;
}
nav .menu ul li a{
    display: inline-block;
    
    font-size: 12px;
    font-weight: 800;
    transition: 0.4s;
    color:#fff;
    padding:26px 25px;
    text-transform: uppercase;
}

nav .menu ul li a:hover{
    background-color: #E8D200;
    color:black
}
/* nav part ends */

/* Banner part starts */
#banner{
    height:728px;
    background-image:url(../img/MYFOLIO_banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
#banner::after{
    position: absolute;
    content: '';
    z-index: -1;
    background-color: black;
    left:0;
    top:0;
    opacity: .66;
    width:100%;
    height:100%;
}
#banner .container{
    height: 100%;
}
#banner .row{
    
    align-items: center;
    height: 100%;
    justify-content: center;
}
#banner img{
    display: block;
    margin: 50px auto;
}

#banner h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
#banner h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
#banner p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}
#banner a{
    padding: 19px 42px;
    background-color: #E8D200;
    color:black;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .4s;
}
#banner a:hover{
    background-color: #fff;
    color:red
    
}
/* Banner part ends */
/* About part starts */
#about{
    padding: 98px 0;
}
#about .section_info{
    margin-bottom: 80px;
}
#about .section_info p{
    width:875px;
    margin: auto;
}
#about h2{
    margin-bottom: 32px;
}

#about .about_item{
    width: 25%;
    text-align: center;
    padding: 60px 36px;
    border-right: 1px solid #d9dbdb;

}
#about .about_item:last-child{
    border-right: 0px;
}
#about .about_item i{
    color:#02918b;
    font-size: 25px;
}
#about .about_item h4{
    font-size: 16px;
    color: #7e8287;
    font-weight: 800;
    margin: 29px 0;
}
#about .about_item p{
    color: #7e8287;
    font-size: 11px;

}

/* About part ends */
/* Service Section Css Start */
#service{
    background-image: url(../img/MYFOLIO_service.jpg);
    background-size: cover;
    background-position: center;
    padding: 74px 0;
 }
 #service .inner_container{
    width: 50%;
 }
 
 #service .section_info{
    text-align: left;
 }
 #service .service_item{
    width: 50%;
    padding: 25px 110px 25px 0;
 }
 #service .service_item i{
    color:#02918b;
    font-size: 25px;
 }
 #service .service_item h4{
    font-size: 16px;
    color:#7e8287;
    font-weight: 800;
    padding: 29px 0;
 }
 #service .service_item p{
    font-size: 11px;
    color: #7e8287;
 }
 /* Service Section Css ends */